// CreatePost.vue

<template>
<div>
    <h1>Enter Student's details</h1>
    <form @submit.prevent="addStudent">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" v-model="post.name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>RegNo:</label>
                    <input type="text" class="form-control" v-model="post.reg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Class:</label>
                    <input type="text" class="form-control" v-model="post.stclass">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Id No:</label>
                    <input type="text" class="form-control" v-model="post.idno">
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
</template>

<script>
export default {
    data() {
        return {
            post: {}
        }
    },
    methods: {
        addStudent() {
            let uri = 'http://vuestudent.test/api/student/create';
            this.axios.post(uri, this.post).then((response) => {
                this.$router.push({
                    name: 'posts'
                });
            });
            console.log(this.post);
        }
    }
}
</script>